//colors
$red: #f06c65;
$dark_red: #d65650;
$blue: #648bf0;
$dark: #2d313b;
$yellow: #fbc65f;
$white: #fff;
$defaultColor: #666e89;
$arrowColor: #e94348;
$text: #767E9E;
$background-light: #F2F2F2;

//fonts
$bold: 900;
$lato: 'Lato', sans-serif;
$defaulSize: 18px;
$small: 12px;

//grid
$md: 940px;
$sm: 300px;

//containers
$media991: 991px;
$media767: 767px;
$media575: 575px;

// background
$light: #F2F2F2;
$form: #D6564F;
$btn: #FBC65F;

// font_Color
$fdark: #666D89;
$fwhite: #FFFFFF;
$fserv: #767E9E;
$rbeige: #F0D8D9;
$fholder: #F48C8F;
$fbtn: #886A30;

// font_Size
$fsmall: 12px;
$fdef: 18px;
$fbig: 30px;

// font_weight
$s: 300;
$m: 400;
$l: 700;
$xl: 900;
