//colors
$red: #f06c65;
$dark_red: #d65650;
$blue: #648bf0;
$dark: #2d313b;
$yellow: #fbc65f;
$white: #fff;
$defaultColor: #666e89;
$arrowColor: #e94348;
$text: #767E9E;
$background-light: #F2F2F2;

//fonts
$bold: 900;
$lato: 'Lato', sans-serif;
$defaulSize: 18px;
$small: 12px;

//grid
$md: 940px;
